@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playwrite+NL&display=swap");
/* font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(300, 56%, 40%);
  background-image: radial-gradient(at 8% 25%, hsl(265, 49%, 47%) 0px, transparent 50%), radial-gradient(at 83% 54%, hsl(293, 52%, 30%) 0px, transparent 50%), radial-gradient(at 40% 82%, hsl(299, 32%, 53%) 0px, transparent 50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbarcentrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  margin: 30px;
  width: 19%;
  height: 50px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.nav-menu {
  color: inherit;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
}
.nav-menu li a {
  text-decoration: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: inherit;
}
.nav-menu a:hover {
  text-shadow: 0 0 5px #ffffff;
}

.texto-inicial .texto-secundario {
  padding-top: 17px;
  margin-left: 26%;
  max-width: 30%;
  text-align: center;
  font-size: 1.5em;
  overflow: hidden;
  border-right: 0.1em solid black;
  white-space: nowrap;
  letter-spacing: 2px;
  animation: typing 3s steps(90, end) 0.5s 1 normal both, blink-caret 4s step-end 1s 1 forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
  to {
    border-color: transparent;
  }
}
.texto-inicial .texto-bienvenido {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-right: 600px;
}
.texto-inicial .texto-bienvenido .char {
  font-size: 79px;
  display: inline-block;
  transition: font-weight 0.3s;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.texto-inicial .texto-bienvenido .char:hover {
  font-weight: bold;
  transform: scaleX(1.2);
}

.boton-inicio1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.boton-inicio1 .boton-inicio {
  background-color: violet;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  border-radius: 15px;
}
.boton-inicio1 .boton-inicio:hover {
  background-color: #e42ada;
}

.btns {
  margin-left: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  background-color: var(--color-white-shade);
  border-radius: 15px;
  width: 300px;
  left: 0;
  transform: translateY(1500%);
}
.btns:has(.btn:hover) .btn:not(:hover) {
  scale: 0.8;
  opacity: 0.8;
  filter: blur(4px);
}

.btn {
  padding: 5px 5px 5px 5px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  transition: scale 0.25s ease-in;
  opacity: 0.25s ease-in;
  filter: 0.25s ease-in;
}
.btn:hover {
  scale: 1.2;
}

.pie {
  margin-top: 240px;
  margin-bottom: 30px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
