@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playwrite+NL&display=swap');
/* font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
@import "utilidades/mixin";
@import "utilidades/variables";
@import "paginas/reset";
@import "paginas/principal";
@import "paginas/pagina2";
@import "paginas/footer";