


         .imagen-para-plantilla{
    
                     img{
                          width: 200px;
                          margin-top: 15px;
                          margin-left: -90%;
                    }
         }


